stackswitcher.ptimer button label {
    font-family: lato;
}
label.ptimer-title {
    font-family: lato;
    font-size: 15px;
    opacity: 0.80;
}
label.ptimer-stage-label {
    font-family: lato;
    font-size: 18px;
}
label.ptimer-stage-label-low-alpha {
    opacity: 0.65;
}
label.ptimer-text {
    font-family: lato;
    font-size: 15px;
}
label.ptimer-folder-message {
    font-family: lato;
    font-size: 15px;
    font-style: italic;
    opacity: 0.80;
}